[submodule "projects/JS-HTML-game"]
	path = projects/JS-HTML-game
	url = https://github.com/carbonsoda/guess-my-number.git
[submodule "projects/eventonica-v1"]
	path = projects/eventonica-v1
	url = https://github.com/carbonsoda/eventonica-static.git
[submodule "projects/eventonica-v2"]
	path = projects/eventonica-v2
	url = https://github.com/carbonsoda/eventonica.git
