body {
    font-family: 'Open Sans', sans-serif;
}

#overview {
    padding:10px;
    margin-top:20px;
    margin-bottom: 10px;
    border: 0px !important;
}
.card-header{
    border-color:blueviolet!important;
}

.border-3{
    border-color:aquamarine!important;
}

.summary {
    text-align: center;
}

@media(min-width:1080px){
    img {
        width:300px
    }
    #overview {
        width: 800px;
    }
}
