h1, h2, h3, h4{
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fdedf1;
}

.navbar {
    background-color: #3B2B2C;
}

.recipe {
    border: 1px solid;
    border-color:rgba(70, 66, 66, 0.5);
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.5);
}


/* 
The description consists of multiple types besides <p>
For cleanest/simplest code, wrapping as its own class
*/
.description, .title, .row {
    margin-top: 20px;
}

blockquote {
  font-style: italic;
  margin-left:20px;
  color: #5c5454;
}
