h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FDEDF1;
}

/* 
Using top instead of p.description due to the description 
consisting of multiple tags, and that the title is very short
alt ver: a separate "description" class to encapsulate all
but the title, 
*/
.description {
    width: 600px;
}
.left {
    float: left;
    width: 600px;
}

.right {
    float: right;
}



